* {
    background-color: #f3f3f3;
    font-family: "Times New Roman";

}
.master {
    display: flex;
    flex-direction: row;
}
.main {
   /* text-align: left;*/
    display: flex;
    flex-direction: column;
}

.sub-section {
    font-style: italic;
    display: flex;
    flex-direction: column;
}

h1 {
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Times New Roman";
}
.alert-info {
    display: none;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;

}

.nav-links li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;


}

a {

}



a:hover {

    color: gold;
}

img {
    margin: auto;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
    body {
        text-align: center;

    }

    .hidden-on-desktop {
        border: solid grey 2px;
        background-color: lightblue;

    }


    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: grey;
        margin-top: 10px;
        text-align: center;
    }

    ul li {
        background-color: grey;
        width: 100%
    }

    ul {
        list-style: none;
        padding: 0;
    }

    img {
        height: 224px;
        width: 100%;
        margin: auto;

    }

    section {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .sub-section {
        font-style: italic;
        display: flex;
        flex-direction: column;
    }
}

